body {
  background: #000;
}

.digits {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  width: 50%;
  margin: 0 auto;
  min-height: 100vh;
  justify-content: top;
}
.digits > div {
  flex-basis: 33%;
}
.digits > div svg {
  width: 80%;
  margin: 10%;
  height: auto;
  overflow: visible;
  height: auto;
  position: relative;
}
.digits > div svg ellipse {
  fill: none;
  stroke: linear-gradient(
    to right,
    #bcbcbc 25%,
    #ffcd02 25%,
    #ffcd02 50%,
    #e84f47 50%,
    #e84f47 75%,
    #65c1ac 75%
  );
  /* stroke: #ffffff; */
  stroke-width: 5;
  stroke-miterlimit: 10;
}
