
body{
    /* background-color: peachpuff; */
    background: url('../images/backgroundER2.png');
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.subheader{
    color: #fff; 
    
 
}
.row{
    margin: 20px;
    /* float: left; */

}
/* 
.col{
    float:left;

} */